body {
  width: 400px;
  margin: auto;
  background-color: #e64448;
}

header {
  background-color: #fff;
  padding-left: 5px;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.local {
  display: block;
  background-color: #e64448;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.local h1 {
  color: #3c3a48;
}

.local p {
  color: #eab244;
}

.bikes {
  background-color: #e1e2df;
  text-align: center;
}

.signup {
  display: block;
  background-color: #89c5c7;
  color: #0b354b;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.signup h1 {
  color: #696c6d;
}

.signup label {
  display: block;
  margin-bottom: 5px;
}

.signup input {
  display: block;
  margin-bottom: 20px;
}

.about {
  display: block;
  background-color: #eab244;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.about h1 {
  color: #e64448;
}

.about p {
  color: #e1e2df;
}
